networks:
  app_network:
    driver: bridge

volumes:
  postgres_db_data:

services:
  formcraft.api:
    image: ${DOCKER_REGISTRY-}formcraftapi
    container_name: api_container
    build:
      context: .
      dockerfile: FormCraft.API/Dockerfile
    environment:
      - JWTSettings__Key=${JWTSettings__Key}
      - JWTSettings__Issuer=${JWTSettings__Issuer}
      - JWTSettings__Audience=${JWTSettings__Audience}
      - JWTSettings__ExpireTime=${JWTSettings__ExpireTime}
      - ConnectionStrings__PostgresqlDbConnection=${ConnectionStrings__PostgresqlDbConnection}
    networks:
        - app_network
    depends_on:
        - postgres_db

  postgres_db:
    image: postgres:latest
    container_name: db_container
    restart: unless-stopped
    environment:
      POSTGRES_DB: FormCraft
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_db_data:/var/lib/postgresql/data
    networks:
      - app_network

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app_network
    depends_on:
      - formcraft.api